In [2]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [35]:
dict = {
    'Area':[2600,3000,3200,3600,4000],
    'Bedrooms':[3,4,3,3,5],
    'age':[20,15,18,30,8],
    'price':[550000,565000,610000,595000,760000]
}

In [26]:
df = pd.DataFrame(dict) 
df

   Area  Bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         3   18  610000
3  3600         3   30  595000
4  4000         5    8  760000

In [27]:
df.Area

0    2600
1    3000
2    3200
3    3600
4    4000
Name: Area, dtype: int64

In [28]:
df.to_csv("data.csv") 
df

   Area  Bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         3   18  610000
3  3600         3   30  595000
4  4000         5    8  760000

In [29]:
pd.read_csv("data.csv")

   Unnamed: 0  Area  Bedrooms  age   price
0           0  2600         3   20  550000
1           1  3000         4   15  565000
2           2  3200         3   18  610000
3           3  3600         3   30  595000
4           4  4000         5    8  760000

In [30]:
df.Bedrooms.median()

3.0

In [32]:
import math
b = math.floor(df.Bedrooms.median())
b

3

In [36]:
df.Bedrooms.fillna(b)   #to fill value if any NaN in dataset

0    3
1    4
2    3
3    3
4    5
Name: Bedrooms, dtype: int64

In [37]:
df

   Area  Bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         3   18  610000
3  3600         3   30  595000
4  4000         5    8  760000

In [40]:
reg=linear_model.LinearRegression()
reg.fit(df[['Area','Bedrooms','age']],df.price)

LinearRegression()

In [46]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [47]:
reg.intercept_

383724.99999999994

In [43]:
reg.predict([[2600,3,21]])    #see syntax ([[ ]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([519175.])

price=m1*area+m2*bedroom+m3*age+b & 
Here m1,m2,m3 are coff/       w1,w2,w3 called weights &
                              b is intercept/ bias &
                              area,bedroom,age are independant variable(feature)& 
                              price is dependant variable